*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
}

/* BODY */
body{
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

navbar{
    background-color: #ffffff;
    width: 100vw;
    border: 1px solid red;
}

navbar ul{
    display: flex;
}
